
@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Inter:wght@100;400&family=Roboto:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
background-color: #1b1a1b;
}


/*NAVBAR*/
.navbar-custom .nav-link, 
.navbar-custom .nav-link.active {
    color: #5B8FB9; 
    font-family: "Roboto", sans-serif;
    transition: color 0.3s ease;
}

.nav-link:hover,
.nav-link.active:hover,
.fa-cart-shopping:hover,
.navbar-brand:hover {
    color: #75d7f0; 
}

.navbar-brand {
font-family: "Creepster", sans-serif;
color: #5B8FB9; 
font-size: 30px;
letter-spacing: 2px;
transition: color 0.3s ease;
}

/*Productos*/
.price-highlight {
    font-size: 1.5rem; /* Ajusta el tamaño de la fuente para destacar */
    font-weight: bold; /* Texto en negrita */ 
}

/*Iconos*/
.footer-social img.social-icon {
    width: 30px; /* Ajusta este valor según tus preferencias */
    height: 30px; /* Ajusta este valor según tus preferencias */
    margin-right: 10px;
}
.custom-icon, 
.btn-custom,
.fa-cart-shopping { 
    color: #5B8FB9;
    
}
.nosotros-iconos {
    margin: 2em 0 0 2em;
    text-align: center;
}

.nosotros-iconos ul {
    display: flex;
    justify-content: center; /* Centra horizontalmente los íconos */
    gap: 20px;
}

.fa-facebook:hover {
color:#3b5998;
transition: all .4s;
}

.fa-whatsapp:hover {
color:#075E54;
transition: all .4s;
}

.fa-instagram:hover {
color:#833AB4;
transition: all .4s;
}
.fa-envelope:hover {
color:#d93025;
transition: all .4s;
}
/* Botón COMPRAR*/

.btn-resaltar {
    background-color: #638b94 ; 
    border-color: #638b94; 
    color: #000; 
    font-family: Roboto, bold, sans-serif;
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease; 
}

  .btn-resaltar:hover { /*Reacción al pasar el mouse */
    background-color: #7dc2c3; 
    border-color: #7dc2c3; 
    color: #000; 
}

/*Pagina Carrito */

.tarjetas img {
    width: 30px;
}

.btn-custom {
    background-color: white; /* Cambiar el fondo a negro */
    border-color: black;
}



